version: '2'
services:
  ui:
    image: thongdong7/tb-api
#    build: .
    volumes:
      - ./my_package:/code/my_package:ro
      - ./setup.py:/code/setup.py:ro
      - ./app/my_app:/code/app:ro
      # For debug
      #- ../tb-api/tb_api:/code/tb-api/tb_api:ro
      #- ../tb-api/setup.py:/code/tb-api/setup.py:ro

    #environment:
    #  ENV: dev
    #  SLEEP: 5
    #  EXTRAS_REQUIRE: api
    # Running custom command
    #  COMMAND: curl http://site/deploy.sh | bash
    ports:
      - 7000:80

